<div class="text-center">
  <h1>O cadastro foi realizado com sucesso!</h1>
</div><br>
<div class="text-center">
  <a class="btn btn-primary text-center" href="/Usuario/ListaDeUsuarios">Ir para lista de usuários</a>
</div>